body {
  margin: 0;
  padding: 0;
}

#title {
  background-color: orange;
}

#subtitle {
  background-color: lightgreen;
}

#title, #subtitle {
  font-family: "Verdana", sans-serif;
  margin: 0;
  padding: 1rem 2rem;
}